/* Comments Tab Styles*/
.comments > h4 {
	margin: 0px !important;
	padding: 5px 10px;
}
.comments-page {
	display: none;
	background:url(http://1.bp.blogspot.com/_9FoH-7_4Le0/S8y4iYvBsII/AAAAAAAABTo/sN_dlvRiNRs/s1600/sideblock.png);
	border-radius: 0px 5px 5px 5px;
	-moz-border-radius: 0px 5px 5px 5px;
	-webkit-border-radius: 0px 5px 5px 5px;
	box-shadow: 0px 0px 2px #666;
	-moz-box-shadow: 0px 0px 2px #666;
	-webkit-box-shadow: 0px 0px 2px #666;
}
#blogger-comments-page {
  padding: 0px 0px;
}
.comment-form {
  margin: 10px;
}
.comments-tab {
 color: #ffffff;
 float: left;
 padding: 5px;
 margin-right: 7px;
 cursor: pointer;
 font-weight: bold;
 background-color: #f2f2f2;
 border-radius: 5px 5px 0px 0px;
 -moz-border-radius: 5px 5px 0px 0px;
 -webkit-border-radius: 5px 5px 0px 0px;
 position: relative;
 z-index: 10;
 box-shadow: 0px -1px 2px #666;
 -moz-box-shadow: 0px -1px 2px #666;
 -webkit-box-shadow: 0px -1px 2px #666;
 background-image: linear-gradient(#ffffff,#F2F2F2);
 background-image: -moz-linear-gradient(#ffffff,#F2F2F2);
 background-image: -webkit-linear-gradient(#ffffff,#F2F2F2);
}
.comments-tab img { height: 14px;  width: auto;  margin: 0px 3px;}

#blogger-comments,
#blogger-comments.js-inactive-tab:hover {
 background-color: #dd7700;
 background-image: linear-gradient(#E80, #C60);
 background-image: -moz-linear-gradient(#E80, #C60);
 background-image: -webkit-linear-gradient(#E80, #C60);
}
#blogger-comments.js-inactive-tab {
 background-color: #cc6600;
 background-image: linear-gradient(#cc6600, #aa4400);
 background-image: -moz-linear-gradient(#cc6600, #aa4400);
 background-image: -webkit-linear-gradient(#cc6600, #aa4400);
}

#fb-comments,
#fb-comments.js-inactive-tab:hover {
 background-color: #3B5998;
 background-image: linear-gradient(#6B89D8, #3B5998);
 background-image: -moz-linear-gradient(#6B89D8, #3B5998);
 background-image: -webkit-linear-gradient(#6B89D8, #3B5998);
}
#fb-comments.js-inactive-tab {
 background-color: #1B3968;
 background-image: linear-gradient(#3B5998, #1B3968);
 background-image: -moz-linear-gradient(#3B5998, #1B3968);
 background-image: -webkit-linear-gradient(#3B5998, #1B3968);
}
.js-inactive-tab {
 background-color: #e2e2e2;
 background-image: linear-gradient(#F4F4F4,#DDD);
 background-image: -moz-linear-gradient(#F4F4F4,#DDD);
 background-image: -webkit-linear-gradient(#F4F4F4,#DDD);
}